<div class="row" font-family: Calibri;>
    <div class="col s10">
    </div>
    <div class="col s2">   
        <nav id="nav" style="color:white;background-color:black">
          <div class="container">
            <table><tr>
              <td><h5><%= link_to 'Login', login_path %></td>
            </tr></table>
          </div>
        </nav>
    </div>
</div>