<nav id="nav" style="color:white;background-color:black">
  <div class="container">
    <table><tr>
      <td><h5><%= link_to 'Stores', stores_path %></h5></td><td></td><td></td>
      <td><h5><%= link_to 'Employees', employees_path %></h5></td>
      <td><h5><%= link_to 'Assignments', assignments_path %></h5></td>
    </tr></table>
  </div>
</nav>