<div class="card black">
  <div class="card-content white-text">
    <span class="card-title">Go to</span>
    <ul class="collection">
      <li><%= link_to 'New Store', new_store_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Employees', new_employee_path, :class => "collection-item" %></li>
      <li><%= link_to 'New Assignments', new_assignment_path, :class => "collection-item" %></li>
    </ul>
  </div>
</div>